# ICU Mortality Prediction

## Contents
- [Introduction](#introduction)

In [5]:
# hiding script
%%html
<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
$('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>

In [4]:
%%html
<script>
code_show="a"
var r = document.querySelector(':root')
if (code_show === "a") {
      code_show="flex"
  }
function code_toggle() {

    var v = r.getElementsByClassName("jp-Cell-inputWrapper")

    if (v.item(0).style.display === "") {
        if (code_show === "none") {
          for (i = 1; i < v.length-1; i++) {
              v.item(i).style.display = "flex";
          }
          code_show = "flex"
        } else {
          for (i = 1; i < v.length-1; i++) {
              v.item(i).style.display = "none";
          }
          code_show = "none"
        }       
    }
} 
</script>
<form action="javascript:code_toggle()"><input type="submit" value="TOGGLE CODE IN REPORT VIEW."></form>

## Introduction

## Exploratory Data Analysis

In [12]:
import os
import psycopg2
import pandas as pd

In [3]:
# connecting to postgres database
POSTGRESUSER = os.environ['POSTGRESUSER']
POSTGRESPWD = os.environ['POSTGRESPWD']

conn = psycopg2.connect("dbname=mimic user={} password={}".format(POSTGRESUSER,POSTGRESPWD))
cur = conn.cursor()

In [22]:
querystr = 'select * from mimiciii.patients'
query1 = pd.read_sql_query(querystr, conn)

In [23]:
query1

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,234,249,F,2075-03-13,NaT,NaT,NaT,0
1,235,250,F,2164-12-27,2188-11-22,2188-11-22,NaT,1
2,236,251,M,2090-03-15,NaT,NaT,NaT,0
3,237,252,M,2078-03-06,NaT,NaT,NaT,0
4,238,253,F,2089-11-26,NaT,NaT,NaT,0
...,...,...,...,...,...,...,...,...
46515,31840,44089,M,2026-05-25,NaT,NaT,NaT,0
46516,31841,44115,F,2124-07-27,NaT,NaT,NaT,0
46517,31842,44123,F,2049-11-26,2135-01-12,2135-01-12,NaT,1
46518,31843,44126,F,2076-07-25,NaT,NaT,NaT,0
46519,31844,44128,M,2098-07-25,NaT,NaT,NaT,0

In [ ]:
cur.close()
conn.close()